:root {
  --sidebarInlineSize: 15rem;
  --minBlockSize: 37.5rem;
  --minInlineSize: 48rem;
  --bottomSize: 5.625rem;
}

.layout-block.up {
  display: flex;
  min-inline-size: var(--minInlineSize);
}

.layout-sidebar {
  inline-size: var(--sidebarInlineSize);
  flex-shrink: 0;
  block-size: calc(100vh - var(--bottomSize));
  overflow: auto;
}

.layout-main {
  block-size: calc(100vh - var(--bottomSize));
  min-inline-size: var(--minInlineSize);
  overflow-x: hidden;
  overflow-y: auto;
}

.layout-botton {
  block-size: var(--bottomSize);
}

.layout {

}

