.library {
  /* border: 1px solid red; */
  flex-wrap: wrap;
  gap: 2rem;
}

.song {
  /* border: 1px solid blue; */
  inline-size: 24.75rem;
  border-radius: .25rem;
  padding: 1.25rem;
  box-sizing: border-box;
  background: linear-gradient(#501EF3, #7E71E8)  ;
  position: relative;
  cursor: pointer;
  opacity: .92;
  transition: opacity .3s;
}

.song:hover {
  opacity: 1;
}

.song .buttonIcon{
  position: absolute;
  right: 1.5rem;
  bottom: 1.5rem;
  inline-size: 3.5rem;
  block-size: 3.5rem;
  transform: translateY(1rem);
  opacity: 0;
  will-change: opacity, transform;
  transition: opacity .3s, transform .3s;
}

.song:hover .buttonIcon,
.song:focus-within .buttonIcon {
  opacity: 1;
  transform: translateY(0);
}

.song-title {
  font: var(--headline2);
  margin: 0;
  color: var(--white);
}

.song-description {
  font: var(--baseFontBold);
  color: var(--white);
}